.inner-header {
    display: flex;
    justify-content: right;
    align-items: center;
}

.blog-header {
    margin: 3rem 0 2rem;
}

.blog-header h1 {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--subtext-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.blog-header p {
    font-size: 0.95rem;
    color: var(--accent-color);
}

.blog-list {
    margin-top: 2rem;
}

.blog-item {
    margin-bottom: 2.5rem;
}

.blog-item h2 {
    font-family: var(--font-main);
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}

.blog-item h2 a {
    text-decoration: none;
    color: var(--text-color);
}

.blog-item h2 a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.blog-item p {
    font-size: 0.95rem;
    color: var(--accent-color);
    margin-bottom: 0.4rem;
}

.blog-meta {
    font-family: var(--font-mono);
    font-size: 0.8rem;
    color: var(--subtext-color);
}

/* Navigation */
.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.nav-links a {
    text-decoration: none;
    font-family: var(--font-mono);
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--subtext-color);
    font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
    color: #e9a540;
    font-weight: 600;
}
@media (max-width: 768px) {

    .inner-header {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
    }

    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }

    .hamburger {
        display: flex;
        position: static;   /* important */
    }
    .nav-links {
        position: fixed;
        inset: 0;                /* full screen */
        background: var(--bg-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }
    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-links.active {
        transform: translateX(0);
    }

}

